{% extends "base.html" %}

{% block title %}
Display Rewards
{% endblock %}

{% block content %}

<br>
<br>
<br>
<div class="p-10 bg-surface-secondary dashboard">
    <div class="container mt-3">
        <div class="card">
                <h1>Available Rewards</h6>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Cost</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reward in rewards %}
                                    <tr>
                                        <td><span>{{ reward.name }}</span></td>
                                        <td><span>{{ reward.cost }}</span></td>
                                        <td><span>{{ reward.description }} </span></td>
                                        {% if point > reward.cost %}
                                            <td class="text-end">
                                            <a href="/getReward/{{ reward.id }}" class="btn btn-primary">Get reward</a>
                                            </td>
                                        {% elif reward.cost > point %}
                                            <td class="text-end">
                                                <button type="button" class="btn btn-lg btn-primary" disabled>Not enough points</button>
                                            </td>
                                        {% endif %}   
                                    </tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}


