{% extends "base.html" %}

{% block title %}
Display Rewards
{% endblock %}

{% block content %}

<br>
<br>
<br>
<div class="p-10 bg-surface-secondary dashboard">
    <div class="container mt-3">
        <div class="card">
                <h1>Available Rewards<br><p>You have {{point}} points</p></h1>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Cost</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reward in rewards %}
                                    <tr>
                                        <td><span>{{ reward.name }}</span></td>
                                        <td><span>{{ reward.description }}</span></td>
                                        <td><span>{{ reward.cost }} </span></td>
                                        {% if point >= reward.cost %}
                                            {% if reward.email == user.email %}
                                                <td class="text-end">
                                                    <button type="button" class="btn btn-secondary" disabled>You own this</button>
                                                </td>
                                            {% else %}   
                                                    <td class="text-end">
                                                        <button type="button" class="btn btn-success" ><a href="/getReward/{{ reward.id }} " style="text-decoration:none;color:white;">Get reward</a></button>
                                                    </td>
                                                
                                            {% endif %} 
                                        {% elif reward.cost > point %}
                                            <td class="text-end">
                                                <button type="button" class="btn btn-secondary" disabled>Not enough points</button>
                                            </td>
                                        {% endif %}   
                                    </tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}


