{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Get PIN
{% endblock %}

{% block content %}

<div class="getPIN">
    {% if user.is_authenticated %}
        {% if hasPIN %}
            <h3> you have a pin already! </h3>
            <p>You can still add more items to recycle along with the items that you have <br>previously scanned, by adding the new batch of items to your current PIN.</p>
            <p><strong>Don't worry!</strong> You will still get your points for the new batch of items added to your current PIN. 
                <br>
                <a href="/addItemsToPIN">Add items to current PIN</a> 
            </p>
            
        {% else %}
            <h3>Thank you for recycling!</h3>
            <p>The 4-digit PIN to access any of our bins has been sent to: {{ user.email }}.</p>
        {% endif %}

    {% else %}
        {% if hasPIN %}
            {% if isRegistered == False %}
                <h3> you have a pin already! </h3>
                <p>You can still add more items to recycle along with the items that you have <br>previously scanned, by adding the new batch of items to your current PIN.</p>
                <p>However, since you did not register for an account with us, you <br><strong>will not recieve any points</strong> for your previous and current batch of items. 
                    <br>
                    <a href="/addItemsToPIN">Add items to current PIN</a> <!-- not done yet -->
                </p>
            {% else %} <!-- user email is registered but never login -->
                <h3>You have a pin already!</h3>
                <p><strong>The email entered is registered.</strong></p>
                <p>Please <strong><a href="{{ url_for('login') }}" >login</a></strong> and add more items to recycle along with the items that you have <br>previously scanned, by adding the new batch of items to your current PIN.</p>
                <p>After login, click on "Get PIN" --> "Add items to current PIN" to add items and gain points!</p>
            {% endif %}
        {% elif sent == False %}
            <h3>Thank you for recycling!</h3>
            <p>Have an account? <strong><a href="{{ url_for('login') }}" >Login</a></strong> first and click on "GET PIN" again to continue the process.</p>
            <p>Or you can create an account with us! <strong><a href="{{ url_for('signup') }}">Sign up</a></strong> now.</p>
            <p>You will gain points for each item recycled after you registered for an account!</p>
            <br>
            <p><strong>Do not want to create an account?</strong></p>
            <p>Simply enter your email and we will send you the PIN. 
                <br>But do note that <strong>NO</strong> points will be awarded without an account.</p>
            <br>
            <form method="POST">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            {{ wtf.form_field(form.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-2">
                            <button type="submit" style="border: none;"><a class="filled-button">Submit</a></button>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <br>
        {% elif sent == True %}
            <h3>Thank you for recycling!</h3>
            <p>The 4-digit PIN to access any of our bins has been sent to: {{ email }}.</p>
        {% endif %}
    {% endif %}
</div>


{% endblock %}