{% extends "base.html" %}

{% block title %}
Demo App
{% endblock %}


<link rel="stylesheet" href="{{url_for('.static', filename='/css/fileUpload.css')}}">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
{% block content %}

    <!-- Page Content -->
     <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
             <!-- Item -->
            <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                    <h6>you can make a difference</h6>
                    <h4>Start recycling your E-waste today.</h4>
                    <p>We work with ALBA E-Waste to make it easier for you to recycle your e-waste. Click the button below to learn more about E-Waste.</p>
                    <a href="/education" class="filled-button">Learn more</a>
                </div>
            </div>
            </div>
              <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="services" id="scanner">
      <div class="container">
          <div class="row ">
              <div class="col-md-12">
                  <div class="section-heading">
                      <h2>Scan your <em>E-waste</em></h2>
                      <span>Upload your E-waste and we will do the job.</span>
                  </div>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div class="wrapper">
                  <header>Upload E Waste Image</header>
                  <form id="uploadImage" method="post" action="/api" enctype="multipart/form-data">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <p>Upload a picture of your e waste :)</p>
              
                    <input type="file" id="uploadFile" name="file" class="file-input" hidden required>
              
                    <br>
              
                    <input type="submit" id="submit-button" value="Submit" class="btn btn-info">
              
                  </form>
                </div>
              </div>
              <div class="col-md-12">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                  <br>
                    <div class="alert alert-success alert-dismissable" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                      </button>
                      {{message}}
                    </div>
                  {% endfor %}
                {% endif %}
                {% endwith %}
              </div>
              <div class="col-md-4">
                  <h4>Your E-waste:</h4>
                  <div class="service-item">
                      <div class="down-content">
                          {% if filename %}
                          <div>
                            <img width="320" height="290" src="{{ url_for('display_image', filename=filename)}}">
                          </div>
                          {% else %}
                          <p>No file uploaded.</p>
                          {% endif %}
                          <br>
                      </div>
                  </div>
              </div>
              <div class="col-md-2">
                <br>
                <br>
                <br>
                <br>
                <br>
                {% if showRegulated %}
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16" style="color: #a4c639;">
                  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                </svg>  
                {% elif showNon %}
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: #c63939;">
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
                {% endif %}
                
              </div>
              <div class="col-md-6">
                <h4>Your uploaded photos:</h4>
                <br>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Item name</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        {% if filename %}
                      <div>
                          <img width="140" height="140" src="{{ url_for('display_image', filename=filename)}}">
                      </div>
                      {% else %}
                      <p>No file uploaded.</p>
                      {% endif %}
                      </td>
                      <td>{{item}}</td>
                      <td>
                        <div class="col-md-2">
                          {% if showRegulated %}
                          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16" style="color: #a4c639;">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                          </svg>  
                          {% elif showNon %}
                          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: #c63939;">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                        {% endif %}
                      </td>
                      <td>throw</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><a href="/getPIN">get pin</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {% if showRegulated %}
                   
              <p class="lead" style="font-size:16px;">This is a/an <b>{{item}}</b> and belongs to <b>REGULATED E WASTE</b> category. It's subcategory is <b>{{subcategory}}</b>. Go ahead and bring it down to ALBA's <a href="https://alba-ewaste.sg/drop-off-locations/" target="_blank">drop-off location</a>. Feeling lazy? You can request for <a target="_blank" href="https://alba-ewaste.sg/doorstep-collection/">doorstep collection</a> instead!
              </p>
              {% elif showNon %}
              
              <p class="lead" style="font-size:16px;">This is a <b>NON REGULATED E WASTE</b>. Please <b>DO NOT</b> throw it into ALBA bins. Instead, bring it down to ALBA's  <a style="text-decoration: underline;" href="https://www.alba-wh.sg/map.html">CFT(Cash For Trash) station</a>.
              </p>
              {% endif %}
            </div>
          </div>
      </div>
    </div>

  

    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}