{% extends "base.html" %}

{% block title %}
Demo App
{% endblock %}


{% block content %}

    <div class="container">

      <div class="starter-template">
        <h1>Index page</h1>
        <p class="lead">Watch this quick video below to understand e recycling better!<br> You are making your first step in creating a better world!</p>
      </div>
      <iframe width="885" height="498" src="https://www.youtube.com/embed/qu8tAALNu8w" title="E-Waste Educational Video"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>    
    </div>
{% endblock %}