{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Items History
{% endblock %}

{% block content %}

<div class="itemsHistory">
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Image</th>
        <th scope="col">Item</th>
        <th scope="col">Status</th>
        <th scope="col">Points</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        </tr>
    </tbody>
    </table>
</div>

{% endblock %}