{% extends "base.html" %}

{% block title %}
Items History
{% endblock %}



{% block content %}

<div class="itemsHistory">
    <h3>Your items history</h3>
    {% if itemsHistory == [] %}
        <img src="../static/images/sadPic.png" style="width: 15%; margin-left:42.5%;">
        <br>
        <br>
        <p>You do not have any items.</p>
        <p>Use our E-Waste scanner and recycle now!</p>
    {% else %}
        <table class="table table-hover table-nowrap">
            <thead>
                <tr>
                <th scope="col">Image</th>
                <th scope="col">Item</th>
                <th scope="col">Status</th>
                <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                {% for i in itemsHistory %}
                    <tr>
                        <td><img width="100" height="100" src="{{ url_for('display_image', filename=i.filename)}}"></td>
                        <td>{{ i.item }}</td>
                        {% if i.status == "NotRecycled" %}
                            <td style="color:rgb(186, 23, 23)"><strong>Not Recycled</strong></td>
                        {% elif i.status == "Recycled" %}
                            <td style="color:#a4c639;"><strong>Recycled</strong></td>
                        {% elif i.status == "Expired" %}
                            <td><strong>Expired</strong></td>
                        {% endif %}
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

{% endblock %}