{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}



{% block content %}
{% if 'user_created' in session %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Your account {{session.pop('user_created', None)}} was successfully created. Please login with your earlier entered credentials.
</div>



{% endif %}

    <div class="container">

      <br>
      <br>
      <br>

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading"><strong>Login</strong></h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <span style="color: red;">{{ message }}</span>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      

    </div> <!-- /container -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endblock %}