{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}


{% block content %}

<div class="container" style="width:100%;">
  <div class="row">
    <div class="col">
      <br>
      <br>
      <br>

      <form class="form-signin" method="POST" action="/signup">
        <h2 class="form-signin-heading"><strong>Sign Up</strong></h2>
        {{ form.hidden_tag() }}
        <div class="col-md-6">
          {{ wtf.form_field(form.username) }}
          {{ wtf.form_field(form.email) }}
          {{ wtf.form_field(form.password) }}
          <label for="role">Role</label>
          {{ wtf.form_field(form.role) }}
        </div>
        <div class="col-md-6">
          {{ wtf.form_field(form.street_address) }}
          {{ wtf.form_field(form.unit_number) }}
          {{ wtf.form_field(form.block_number) }}
        </div>
        <button type="submit" style="border: none; background-color: transparent; float: right;"><a class="filled-button">Sign up</a></button>
      </form>

    </div>
  
  </div>

</div> <!-- /container -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




{% endblock %}