{% extends "base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block content %}

<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Types of E-Waste</h1>
          <span>Not all E-Waste are recyclable!<br>Learn more here.</span>
        </div>
      </div>
    </div>
</div>

<div class="more-info about-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-info-content">
            <div class="row">
              <div class="col-md-6 align-self-center">
                <div class="right-content">
                  <span>Not sure if you can recycle your E-Waste? Let us help!</span>
                  <h2>Types of <em>E-waste</em> to recycle</h2>
                  <p>We only accept regulated E-Waste. Non-regulated E-Waste are non-regulated under the Extended Producer Responsibility Scheme for E-Waste Management. 
                    We recommend for you to bring your E-Waste down to the Cash for Trash (CFT) station.
                    <br>
                    If you are still unsure if your E-Waste is recyclable, do use our <a href="/#scanner">E-Waste scanner</a> and we will tell you if it can be recycled.
                    <br>
                    <br>
                    Here is a list of regulated E-Waste:
                    <ul>
                        <li>Large Household Appliances</li>
                        <li>Electric Mobility Devices</li>
                        <li>House Hold Batteries</li>
                        <li>Lithium Ion Portable Batteries</li>
                        <li>Consumer Electirc Vehical Batteries</li>
                        <li>Consumer Lamp</li>
                        <li>ICT Equipment</li>
                    </ul>
                  <br>Find out more on our <a href="/education">Education Page</a> or in the ALBA E-Waste website!</p>
                  <a target="_blank" href="https://alba-ewaste.sg/types-e-waste/" class="filled-button">Read More</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="left-image">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="container" style="height:100%; width:100%;">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                            <li data-target="#myCarousel" data-slide-to="6"></li>
                          </ol>
                      
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                      
                            <div class="item active">
                              <img src="../static/images/household_appliance.jpg" style="height:300px;">
                              <div class="carousel-caption">
                                <h4>Large Household Appliances</h4>
                              </div>
                            </div>
                      
                            <div class="item">
                              <img src="../static/images/emd.jpg" style="height:300px">
                              <div class="carousel-caption">
                                <h4>Electric Mobility Devices</h4>
                              </div>
                            </div>
                          
                            <div class="item">
                              <img src="../static/images/householdbatteries.jpg" style="height:300px;">
                              <div class="carousel-caption">
                                <h4>House Hold Batteries</h4>
                              </div>
                            </div>

                            <div class="item">
                                <img src="../static/images/powerbank.jpg" style="height:300px;">
                                <div class="carousel-caption">
                                  <h4>Lithium Ion Portable Batteries</h4>
                                </div>
                            </div>

                            <div class="item">
                                <img src="../static/images/car_battery.jpg" style="height:300px;">
                                <div class="carousel-caption">
                                  <h4>Consumer Electirc Vehical Batteries</h4>
                                </div>
                            </div>

                            <div class="item">
                                <img src="../static/images/light_bulb.jpg" style="height:300px;">
                                <div class="carousel-caption">
                                  <h4>Consumer Lamp</h4>
                                </div>
                            </div>
                            
                            <div class="item">
                                <img src="../static/images/ICT.jpg" style="height:300px;">
                                <div class="carousel-caption">
                                  <h4>ICT Equipment</h4>
                                </div>
                            </div>
                          </div>
                      
                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<br>
<br>
<br>


{% endblock %}